.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  font-family: 'nanumsquare';
}

.data-grade-0 {
  color: black;
}
.data-grade-1 {
  color: #6fc300;
}
.data-grade-2 {
  color: #00b5ff;
}
.data-grade-3 {
  color: #bf00fe;
}
.data-grade-4 {
  color: #f39303;
}
.data-grade-5 {
  color: #ff6000;
}
.data-grade-6 {
  color: #c9a472;
}
.data-grade-7 {
  color: #3cf2e6;
}

.bg-quality-100 {
  background-color: #fe9600;
}
.bg-quality-90 {
  background-color: #ce43fc;
}
.bg-quality-70 {
  background-color: #00b5ff;
}
.bg-quality-30 {
  background-color: #91fe02;
}
.bg-quality-10 {
  background-color: #ffd200;
}
.bg-quality-0 {
  background-color: #ff6000;
}

.quality-grade-100 {
  color: #fe9600;
}
.quality-grade-90 {
  color: #ce43fc;
}
.quality-grade-70 {
  color: #00b5ff;
}
.quality-grade-30 {
  color: #91fe02;
}
.quality-grade-10 {
  color: #ffd200;
}
.quality-grade-0 {
  color: #ff6000;
}

.jewelDetail > .tooltip-inner {
  max-width: 100%;
}

.hoverable:hover {
  background-color: gray;
}