body {
    font-family: 'nanumsquare';
}

.profile-box {
    padding-top: 10px;
    padding-bottom: 10px;
}

.bg-quality-100 {
    background-color: coral;
}
.bg-quality-90 {
    background-color: blueviolet;
}
.bg-quality-70 {
    background-color:royalblue;
}